@import url(../css/web2.css);

.content_top1{
    display: flex;
    justify-content: center;
h3{
    width: 153px;
        height: 37px;
    font-size: 46px;
    line-height: 20px;
    color: #333333;
}
    p{
        width: 300px;
            height: 16px;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    margin-top: 23px;
    }
}

.content_top1_x{
    margin: auto;
 
    height: 410px;
    // background-color: pink;
    display: flex;
    .life{
        
        width: 430px;
            height: 190px;
            // background-color: aqua;
            // flex-wrap: wrap;
            margin-left: 426px;
            margin-top: 89px;

p{
   
        
        font-size: 14px;
        line-height: 22px;
        color: #333333;
}
    }
    .right{
margin-left: 120px;
    margin-top: 50px;
    }
}



.content_top2_x {
    margin: auto;
margin-top: 50px;
    height: 550px;
    // background-color: pink;
    display: flex;

    .life {
margin-left: 360px;
    margin-top: 50px;
    }
    .right {
                width: 320px;
                    height: 336px;
                    // background-color: aqua;
                    // flex-wrap: wrap;
                    margin-left: 36px;
                    margin-top: 97px;
            p {
                    font-size: 16px;
                    line-height: 40px;
                    color: #333333;
                }
    }
}


.icon_bottom{
    width: 1920px;
        height: 120px;
        background-color: #1b2a65;
// display: flex;
// align-content: space-evenly;
margin-top: 48px;
        .icon_bottom_hang1{
            width: 1100px;
                height: 30px;
                // background-color: pink;
                margin: auto;
                margin-top: 10px;
                display: flex;
                    // flex-direction: row;
                    // align-items: center;
                    justify-self: unset;
                    // margin-top: 10px;
                .life{
                    width: 500px;
                    height: 30px;
                    margin-top: 30px;
                    
                    p{
                     
                    width: 300px;
                        height: 12px;
                        font-size: 14px;
                        line-height: 20px;
                        color: #fffafa;
                    }
                }
        }
}


.icon_bottom_x{
 width: 1920px;
height: 320px;
 background-color: #1b2a65;

    .content{
width: 1200px;
height: 300px;
margin: auto;

display: flex;
flex-direction: column;
justify-content: space-evenly;

div{
    input::-webkit-input-placeholder {
            color: #fefefe;
        }
}

span{
    color: #fefefe;
}

.div1,.div2,.div3,.div4,.div5{
     background-color: #1b2a65;
     border: solid 2px #fefefe;
}
.div1{
    width: 593px;
height: 38px;
font-size: 14px;
	line-height: 20px;
	

}
.div2{
    width: 594px;
height: 38px;

}
.div3{
    width: 1200px;
height: 80px;
}
.div4{
    width: 208px;
height: 38px;
}
.div5{
    width: 1200px;
height: 38px;
color: #fefefe;
}
    }
}


.bottom {
    width: 1920px;
    height: 24px;
    // border-top: 1px solid #a4a4a4;
    margin-top: 20px;


    p {
        width: 500px;
        height: 14px;
        font-size: 12px;
        color: #1b2a65;
        margin: 0 auto;
    }
}