@import './global.scss';

body {
    background-color: #eaebef;
}

// 头部
// .header {
//     // width: getvw(375);
//     height: getvw(51);
//     opacity: 1;
//     background: #ffffffff;
//     display: flex;

//     p {
//         height: getvw(40);
//         // opacity: 1;
//         color: #555555ff;
//         font-size: getvw(16);
//         font-weight: 500;
//         font-family: "PingFang SC";
//         // text-align: left;
//         line-height: getvw(51);

//         margin-left: getvw(133);
//     }

//     a {


//         h2 {
//             // margin-top: getvw(14);
//             line-height: getvw(51);
//             margin-left: getvw(10);
//             font-size: getvw(29);
//             opacity: 1;
//             color: #555555ff;
//         }


//     }
// }
.header {
    // width: getvw(375);
    height: getvw(42);
    opacity: 1;
    border-bottom: getvw(1) solid #e9ecf0ff;
    background: #ffffffff;
    display: flex;
    // align-items: center;

    span {
        font-size: getvw(20);
        line-height: getvw(42);
        margin-left: getvw(10);
        position: relative;
    }

    a {
        color: #555555;

        h3 {
            font-size: getvw(16);
            line-height: getvw(51);
            margin-left: getvw(310);
        }
    }

    p {
        position: absolute;
        text-align: center;
        margin-left: getvw(145);
        // text-align: center;
        // position: absolute;
        height: getvw(40);
        // opacity: 1;
        color: #555555ff;
        font-size: getvw(16);
        font-weight: 500;
        font-family: "PingFang SC";
        // text-align: left;
        line-height: getvw(42);
        text-align: center;
    }
}

// 地址-信息
.content {


    width: getvw(365);
    height: getvw(77);
    margin: auto;
    opacity: 1;
    background: #ffffffff;

    a {

        p {
            padding-top: getvw(20);
            padding-left: getvw(20);
            opacity: 1;
            color: #555555ff;
            font-size: getvw(14);
            margin-top: getvw(5);
            font-weight: 700;
            font-family: "Tahoma";
            text-align: left;
            margin-bottom: getvw(10);
        }

        span {
            opacity: 1;
            color: #555555ff;
            font-size: getvw(14);
            // margin-top: getvw(9);
            font-weight: 400;
            font-family: "PingFang SC";
            text-align: left;

            padding-left: getvw(20);
        }

        i {
            // display: block;
            position: relative;
            color: #555555ff;
            font-size: getvw(30);
            margin-left: getvw(300);
            bottom: 50%;

        }
    }

}

// +新建地址
.bottom {

    margin: auto;
    opacity: 1;
    width: getvw(300);
    height: getvw(42);
    background-color: #884e22ff;

    p {
        margin-top: getvw(460);
        opacity: 1;
        color: #ffffffff;
        font-size: getvw(16);
        font-weight: 400;
        line-height: getvw(42);
        font-family: "PingFang SC";
        text-align: center;

    }
}